html {
	background-color: rgb(113, 37, 37);
}

body {
	background: rgb(32, 10, 229);
	width: 50%;
	margin: 10px auto;
	padding: 10px;

}

table {
	border-collapse: collapse;
	border: 2px black solid;
	font: 14px sans-serif;
}

td {
	border: 1px black solid;
	padding: 5px;
}